{% extends 'quest/base2.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'quest/css/animators.css' %}">
{% endblock %}

{% block content %}
     <div id="animators-container">
        <p class="text-block">{{ page_text_blocks.text_block1|safe }}</p>
        <img class="text-img" src="/media/{{ imgs.1.image }}">
        <p class="text-block">{{ page_text_blocks.text_block2|safe }}</p>
        <img class="text-img" src="/media/{{ imgs.2.image }}">
        <p class="text-block">{{ page_text_blocks.text_block3|safe }}</p>
    </div>
{% endblock %}

{% block js %}
    <!--
    <script src="{% static 'quest/js/photo-widget.js' %}"></script>
    -->
{% endblock %}