{% extends 'quest/base2.html' %}
{% load staticfiles %}
{% load quest_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static 'quest/css/new/flexslider.css' %}" type="text/css" media="screen" />
    <link  href="{% static 'quest/css/new/kvest.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block content %}

    {% if not quest.in_construct %}
        <div class="quest-carousel-wrap2">
        {% quest_carousel 'quest-carousel' quest.getImgs  %}
        {% with vid=quest.getQuestVid %}
            {% if vid %}
            {{ vid.widget | safe}}
            <i class="fa fa-play-circle video-play" aria-hidden="true"></i>
        {% endif %}
        {% endwith %}
        </div>
    {% else %}
        <img class="quest-in-construct" src="{% static 'quest/imgs/new/develop.png' %}">
    {% endif %}



    <div class="container">
        <div class="row">
            <div class="description">
                <h2 class="kvest_title {% if quest.age_value > 0 %}age_{{ quest.age_value }}{% endif %}"><span>{{quest.name}}</span></h2>
                <ul class="data">
                    <li class="time">{{quest.duration_min}} мин.</li>
                    <li class="members">{{quest.players_min}} - {{quest.players_max}}</li>
                </ul>
{#                <p class="gps"><span>{{ settings.address }} <span class="phone"><input type="tel" readonly name="phone" id="phone" value="{{ settings.phone }}"></span></span></p>#}
                <p class="gps"><span>{{ settings.address }} <a href="tel:{{ setting.full_phone }}">{{ settings.phone }}</a></span></p>
                <p class="indenture">{{quest.desc}}</p>
                <div class="vidget">
                    <span>Расскажите о нас друзьям!</span>
                    <div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'quest/js/common.js' %}"></script>
    <script src="{% static 'quest/js/carousel2.js' %}"></script>
    <script src="{% static 'quest/js/new/quest.js' %}" type="text/javascript"></script>
    <script src="{% static 'quest/js/video.js' %}" type="text/javascript"></script>
{% endblock %}