{% load staticfiles %}

<link rel="stylesheet" href="{% static 'quest/css/swiper/swiper.min.css' %}">

<style>
    .swiper-container {
        width: 100%;
{#        height: 300px;#}
    }
    .swiper-slide {
{#        background-repeat: no-repeat;#}
{#        background-position: 50% 0;#}
{#        background-size: contain;#}
{#        padding: 1em 5em;#}
    }

    .swiper-slide .title {
        font-size: 2.9rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
    }

    .swiper-slide .content {
        font-size: 100%;
        margin-top: 2em;
        white-space: pre-line;
    }

    .swiper-slide img {
        object-fit: cover;
        object-position: 50% 0;
        width: 100%;
        max-height: 400px;
    }

    .swiper-slide .info {
        padding: 3em;
        position: absolute;
        top: 0;
        left: 0;
    }

</style>

<div class="swiper-container container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for slide in top_banner %}
        <div class="swiper-slide" style="text-align: center" {% if slide.slide_delay %}data-swiper-autoplay="{{ slide.slide_delay }}"{% endif %}>
            {% if slide.url and slide.url.strip %}
                <a href="{{ slide.url }}">
            {% endif %}
            {% if slide.img %}
                <img src="media/{{ slide.img }}"/>
            {% elif slide.video %}
                <video muted style="width: 60%">
                    <source src="{{ slide.video }}" type="video/mp4">
                </video>
            {% endif %}
            <div class="info">
                <div class="title">{{ slide.title }}</div>
                <div class="content">
                {{ slide.content|safe }}
                </div>
            </div>
            {% if slide.url and slide.url.strip %}
                </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

