
.text-block {
    width: 75%;
    position: relative;
    color: white;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: left;
    white-space: pre-line;
    max-width: 1230px;
    padding-bottom: 3em;
}

.text-block a {
    text-decoration: underline;
    color: gold;
}

.text-block h1 {
    font-size: 200%;
}

.text-block h2 {
    font-size: 150%;
}

.text-block b {
    font-weight: bold;
}

.text-block .big {
    font-size: 1.33em;
}

.text-block .underline {
    width: 100%;
    display: inline-block;
    padding-bottom: 0.2em;
    border-bottom: 1px solid white;
}

.text-img {
    display: block;
    width: 75%;
    margin: 2em auto;
    max-width: 1230px;
    min-width: 320px;
}




#animators-container {
    min-height: 90vh;
    margin-top: 200px;
}

i.price, i.clock, i.phone, i.warning {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}

i.price:after, i.clock:before, i.phone:before, i.warning:before, i.warning:after,
ul#quest-list li div .players:before {
    font-family: FontAwesome;
}

i.price:after {
    content: '\f158';
    margin-left: 0.5em;
}

#text-block-1 a {

    text-decoration: underline;
    color: gold;
}


