@font-face {
  font-family: 'Raleway-Medium';
  /*src: url(" ../fonts/Raleway-Medium.ttf"); }*/
  src: url(" /static/quest/fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: 'Raleway-Black';
  src: url("/static/quest/fonts//Raleway-Black.ttf"); }
@font-face {
  font-family: 'Raleway-Bold';
  src: url("/static/quest/fonts/Raleway-Bold.ttf"); }
@font-face {
  font-family: 'Raleway-Regular';
  src: url("/static/quest/fonts/Raleway-Regular.ttf"); }
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("/static/quest/fonts/Raleway-SemiBold.ttf"); }
@font-face {
  font-family: 'Roboto-Black';
  src: url("/static/quest/fonts/Roboto-Black.ttf"); }
@font-face {
  font-family: 'Roboto-Bold';
  src: url("/static/quest/fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: 'Roboto-Medium';
  src: url("/static/quest/fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("/static/quest/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: 'PTF55F';
  src: url("/static/quest/fonts/PTF55F.ttf"); }
* {
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  max-width: 100%; }

a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s; }

.fa-bars {
  display: none;
  float: right;
  font-size: 4rem;
  position: absolute;
  right: 10px;
  top: 3px;
  z-index: 5;
  cursor: pointer; }

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.container {
  max-width: 1230px;
  position: relative; }

img {
  max-width: 100%; }

ul.slider_d li > img {
  width: 100%;
}

body {
  font-family: 'Raleway-Regular';
  color: white;
  font-size: 1.4rem;
  background: url(/static/quest/imgs/new/body_bg.jpg); }

header {
  background: url(/static/quest/imgs/new/header_bg.jpg);
  padding: 3px 0;
  position: fixed;
  width: 100%;
  z-index: 11; }

nav,
.nav {
  float: right; }
  nav li,
  .nav li {
    display: inline-block;
    text-transform: uppercase;
    padding-top: 3px;
    margin-left: 19px; }
  nav a:hover,
  .nav a:hover {
    color: #ffde6d; }

input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: transparent;
  outline: none; }

nav {
  padding-top: 15px; }
  nav ul {
    display: inline-block; }
  nav .phone {
    font-family: 'Roboto-Bold';
    float: right;
    padding: 5px 0 0 19px;
    font-size: 1.7rem;
    position: relative;
    top: -4px; }
    nav .phone input {
      width: 142px; }

.contacts input {
  text-align: right;
  width: 210px; }

.logo span {
  display: block;
  padding: 12px 0 0 10px;
  overflow: hidden; }

.logo {
  color: #ffde6d;
  font-size: 1.9rem;
  position: relative;
  max-width: 266px;
  font-family: 'PTF55F'; }
  .logo div {
    float: left;
    width: 65px;
    position: relative;
    bottom: -4px; }

.menu {
  padding: 26px 0; }
  .menu .row {
    position: absolute;
    width: 100%;
    top: 59px;
    z-index: 2; }

.main_menu .row {
  position: static;
  padding-top: 55px; }

.after_menu {
  padding-top: 180px; }

.feedback,
.symbol,
.contacts {
  float: left; }

.feedback li {
  display: inline-block;
  position: relative; }
/*.feedback .instagram_feedback {*/
  /*left: -25px; }*/
/*.feedback .vk {*/
  /*top: 15px;*/
  /*left: -15px; }*/
.feedback ul {
  position: relative;
  float: left;}
  .feedback img {
    position: relative;
    left: -25px; }

.contacts,
.feedback {
  width: 43%; }

.symbol {
  width: 14%;
  text-align: center; }

.contacts {
  font-size: 1.5rem;
  text-align: right;
  padding: 37px 0; }
  .contacts span {
    display: block; }
  .contacts .phone {
    font-family: 'Roboto-Bold';
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 4px; }
    .contacts .phone:before {
      content: url(/static/quest/imgs/new/phone.png);
      position: relative;
      left: -12px;
      top: 3px; }

.kvest_list {
  margin-bottom: 60px; }
  .kvest_list > li {
    width: 32.5%;
    max-width: 398px;
    height: 383px;
    position: relative;
    background-size: cover;
    font-size: 1.5rem;
    margin-bottom: 18px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s; }
    .kvest_list > li:hover {
      -webkit-box-shadow: 0px 0px 59px 6px #f0ce22;
      -moz-box-shadow: 0px 0px 59px 6px #f0ce22;
      box-shadow: 0px 0px 59px 6px #f0ce22; }
    /*.kvest_list > li:after {*/
      /*content: url(/static/quest/imgs/new/sixteen.png);*/
      /*position: absolute;*/
      /*bottom: 12px;*/
      /*right: 12px; }*/
    .kvest_list > li.develop:before {
      content: url(/static/quest/imgs/new/develop.png);
      position: absolute;
      bottom: calc(50% );
      left: calc(50% - 114px); }
    .kvest_list > li > a {
      display: block;
      height: 100%;
      background: url(/static/quest/imgs/new/fon_shares.png);
      background-repeat: inherit;
      background-position: 0% 101%;
      padding: 0 12px 12px 28px;
      margin-left: -1px; }
    .kvest_list > li h2 {
      font-size: 2.9rem;
      line-height: 2.7rem;
      font-family: 'Raleway-Bold'; }
    /*.kvest_list > li:nth-child(1) {*/
      /*background: url(../images/share1.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(2) {*/
      /*background: url(../images/share2.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(3) {*/
      /*background: url(../images/share3.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(4) {*/
      /*background: url(../images/share4.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(5) {*/
      /*background: url(../images/share5.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(6) {*/
      /*background: url(../images/share6.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(7) {*/
      /*background: url(../images/share7.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(8) {*/
      /*background: url(../images/share8.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(9) {*/
      /*background: url(../images/share9.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(10) {*/
      /*background: url(../images/share10.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(11) {*/
      /*background: url(../images/share11.jpg) no-repeat;*/
      /*background-size: cover; }*/
    /*.kvest_list > li:nth-child(12) {*/
      /*background: url(../images/share12.jpg) no-repeat;*/
      /*background-size: cover; }*/

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s; }

.info {
  position: absolute;
  bottom: 20px;
  padding-right: 12px; }
  .info span {
    padding: 15px 0;
    display: block; }
  .info .phone {
    padding: 0; }

.time,
.members {
  display: inline-block;
  position: relative;
  padding: 2px 0 0 25px;
  font-family: 'Roboto-Medium'; }
  .time:before,
  .members:before {
    content: url(/static/quest/imgs/new/time.png);
    position: relative;
    left: -12px;
    top: 3px; }

.members:before {
  content: url(/static/quest/imgs/new/members.png); }

.data {
  position: relative;
  z-index: 1;
  left: -28px;
  max-width: 204px;
    white-space: nowrap;
}
  .data:before {
    content: url(/static/quest/imgs/new/data_bg.png);
    position: absolute;
    left: -5px; }

.discount {
  max-width: 348px;
  margin: 0 15px;
  float: left; }
  .discount span {
    font-size: 2.1rem;
    font-family: 'Raleway-Bold';
    display: block;
    margin-top: 30px;
    text-align: center; }
  .discount .box {
    position: relative; }
    .discount .box .percent {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 61px); }
  .discount .twenty .percent {
    left: calc(50% - 67px); }
  .discount .tooltip {
    position: absolute;
    top: 0%;
    left:0;
    border: solid black;
    border-width: 0;
    background: rgba(0,0,0,0.4);
    white-space: pre-line;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0.5em 1em;
    display: none;
    color: white;
    text-align: left;
  }
  .discount:hover .tooltip{
    display: block;
  }
  .discount .detail {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    text-align: center;
  }
  .discount:hover .detail{
    visibility: visible;
  }
  .discount .detail:before {
    vertical-align: middle;
    height: 100%;
    content: '';
    display: inline-block;
  }
  .discount .detail .detail-btn {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    color: white;
    border-radius: 5px;
    border-width: 0;
    padding: 1em 1.4em;
    background: url(/static/quest/imgs/new/body_bg.jpg);
    background-position: 0 0;
    box-shadow: 2px 2px 2px black;
    transition-property: background;
    transition-duration: 0s;
  }

  .discount .detail .detail-btn:hover {
    background-position: 100% 100%;
  }


.carousel {
  width: 100%;
  position: relative; }

.shares {
  background: url(/static/quest/imgs/new/shares_bg.png);
  padding: 54px 0; }
  .shares .row {
    max-width: 1132px;
    margin: 0 auto; }

.shares_title {
  position: relative;
  max-width: 146px;
  margin: 0 auto 52px; }
  .shares_title:before {
    content: url(/static/quest/imgs/new/staple_l.png);
    position: absolute;
    bottom: 9px;
    left: -110px; }
  .shares_title:after {
    content: url(/static/quest/imgs/new/staple_r.png);
    position: absolute;
    bottom: 9px;
    right: -110px; }

.carousel-wrapper {
  margin: 0;
  overflow: hidden;
  position: relative; }

.carousel-items {
  width: 1000000000px;
  position: relative; }

/*********** BUTTONS ***********/
.slick-prev,
.slick-next {
  position: absolute;
  cursor: pointer;
  width: 43px;
  height: 43px;
  z-index: 1;
  top: 96px;
 background: none;
text-indent: -9999px;
 border: none;
 content: '';
 }

.slick-prev{
  background: url("/static/quest/imgs/new/left.png") no-repeat center;
  left: -45px; }

.slick-next {
  background: url("/static/quest/imgs/new/right.png") no-repeat center;
  right: -45px; }

.carousel-block {
  position: relative; }

.partners {
  padding: 85px 0 150px; }
  .partners h2 {
    text-transform: uppercase;
    text-align: center; }
  .partners .flex {
    justify-content: center; }

.partners_title {
  max-width: 300px;
  position: relative;
  margin: 0 auto;
  font-size: 2.1rem;
  font-family: 'Raleway-Bold';
  margin-bottom: 55px; }
  .partners_title:before {
    content: url(/static/quest/imgs/new/staples_l.png);
    position: absolute;
    bottom: -2px;
    left: -100px; }
  .partners_title:after {
    content: url(/static/quest/imgs/new/staples_r.png);
    position: absolute;
    bottom: -2px;
    right: -100px; }

footer {
  background: url(/static/quest/imgs/new/footer_bg.jpg);
  box-shadow: 0 0 6.7px 0.4px rgba(0, 0, 0, 0.28);
  padding: 35px 0 40px;
  margin-bottom: -15px; }
  footer .contacts {
    float: right; }
  footer .nav {
    padding-top: 40px; }

.join_us {
  display: inline-block;
  position: relative; }
  .join_us span {
    position: relative;
    top: -13px;
    left: 5px; }
  .join_us * {
    display: inline-block; }
  .join_us ul {
    padding-left: 20px;
    position: relative;
    top: -6px; }

.socials {
  position: relative;
 margin-top: 20px;
 }

.communities {
  overflow: hidden; }


.flexslider.certain-height {
  height: 750px;
}

.slider_d{
	position: relative;
}
.flexslider.certain-height .slider_d{
  height: 100%;
}

.slider_d li{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
	.slider_d li:first-child{
		display: block;
	}
	.slider_d li.activ{
		position: static;
	}

.flexslider.certain-height .slider_d li{
  background-position: center top;
  height: 100%;
}

.slick-dots{
	overflow: hidden;
	width: 0;
	height: 0;
}

	div.slick-list{
		padding-left: 0.65%;
	}
/*# sourceMappingURL=style.css.map */

.kvest_list > li.age_14:after {
  content: url(/static/quest/imgs/14+.png);
      position: absolute;
      bottom: 12px;
      right: 12px;
}

.kvest_list > li.age_6:after {
  content: url(/static/quest/imgs/6+.png);
      position: absolute;
      bottom: 12px;
      right: 12px;
}

.kvest_list > li.age_12:after {
  content: url(/static/quest/imgs/12+.png);
      position: absolute;
      bottom: 12px;
      right: 12px;
}




.kvest_list.list_partners {
  justify-content: space-between;
}

.kvest_list.list_partners li .info h2 {
  text-align: left;
}

.partners_kvests {
  padding-top: 50px;
  padding-bottom: 0;
}

.partners_kvests .partners_title h2{
  text-align: center;
}


.kvest_list li .add_shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(225deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
    background: linear-gradient(225deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
}

.kvest_list  li .add_info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 15px;
    padding-top: 15px;
    z-index: 1;
}

.kvest_list .tooltip {
    position: absolute;
    display: none;
    width: 170px;
    white-space: pre-line;
    padding: 1em;
    z-index: 2;
    border-radius: 1em;
    background: rgba(0,0,0,0.7);
    border: 1px solid white;
    right: 0;
    margin-top: 0.5em;
}

/*.kvest_list  li .add_info:hover .tooltip {*/
    /*display: block;*/
/*}*/

.swiper-container {
    padding-right: 0;
    padding-left: 0;
}

.swiper-container {
    margin-bottom: 1em;
}

.quest-carousel-info-add {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 15px;
    padding-bottom: 15px;
    z-index: 1;
    font-size: 2em;
}

.quest-carousel-info-add .tooltip {
    font-size: 0.5em;
    position: absolute;
    display: none;
    max-width: 200px;
    white-space: pre-line;
    padding: 1em;
    z-index: 2;
    border-radius: 1em;
    background: rgba(0,0,0,0.7);
    border: 1px solid white;
    right: 0;
    margin-bottom: -1.5em;
}

/*.quest-carousel-info-add:hover .tooltip {*/
    /*display: block;*/
/*}*/

.quest-carousel-shadow-add {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(315deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
    background: linear-gradient(315deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
}

@-webkit-keyframes wiggle
{
    0% {-webkit-transform: rotateZ(50deg) scale(1.5);}
    50% {-webkit-transform: rotateZ(40deg) scale(1.5);}
    100% {-webkit-transform: rotateZ(50deg) scale(1.5);}
}
@-moz-keyframes wiggle
{
    0% {-moz-transform: rotateZ(50deg) scale(1.5);}
    50% {-moz-transform: rotateZ(40deg) scale(1.5);}
    100% {-moz-transform: rotateZ(50deg) scale(1.5);}
}
@-o-keyframes wiggle
{
    0% {-o-transform: rotateZ(50deg) scale(1.5);}
    50% {-o-transform: rotateZ(40deg) scale(1.5);}
    100% {-o-transform: rotateZ(50deg) scale(1.5);}
}
@keyframes wiggle
{
    0% {transform: rotateZ(50deg) scale(1.5);}
    50% {transform: rotateZ(40deg) scale(1.5);}
    100% {transform: rotateZ(50deg) scale(1.5);}
}

header nav a.phone.anim {
    -webkit-animation: wiggle 0.2s ease infinite;
    -moz-animation: wiggle 0.2s ease infinite;
    -o-animation: wiggle 0.2s ease infinite;
    animation: wiggle 0.2s ease infinite;
    color: black;
    z-index: 11;
}

header nav a.phone img{
    display: none;
}

header nav a.phone.anim img{
    display: block;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    margin-left: 0.5em;
    margin-top: -1.5em;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
}

.notiny-theme-custom {
  background-color: #202020;
  color: #f5f5f5;
  -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 5px rgba(255,255,255,0.5);
  box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.notiny-container-fluid-bottom .notiny-base {
    overflow: auto;
}

.shares.carousel {
  overflow-x: hidden;
}


.notiny-default-vars .notiny-text {
  white-space: normal !important;
}


span.btn {
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 0.2em;
    -webkit-box-shadow: 0 2px 2px black;
    -moz-box-shadow: 0 2px 2px black;
    box-shadow: 0 2px 2px black;
    margin-top: -2px;
    border: 1px solid transparent;
}

span.btn:hover {
    border: 1px solid rgba(255,255,255,0.5);
}

.kvest_list .anim {
    position: absolute;
    right: 15px;
    top: 45px;
    z-index: 1;
}

.invest {
    text-shadow: 0 0 3px gold;
    color: gold;
    font-weight: bold;
}

li.members span.btn {
    cursor: pointer;
}

.quest-carousel-wrap2 .tooltip {
    position: absolute;
    display: none;
    width: 170px;
    white-space: pre-line;
    padding: 1em;
    z-index: 2;
    border-radius: 1em;
    background: rgba(0,0,0,0.7);
    border: 1px solid white;
    right: 0;
    margin-top: 0.5em;
}

.quest-carousel-wrap2 .anim .tooltip {
    left: 0;
}

.quest-carousel-wrap2 .anim {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}

/*header nav a.phone div {*/
    /*background: url("/static/quest/imgs/boom.png"); ;*/
/*}*/

.swiper-slide {
  height: auto !important;
}

.swiper-slide img {
  object-fit: contain !important;
  object-position: 50% 50%!important;
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide a {
  display: inline-block;
  height: 100%;
}

.quest_title_desc {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em;
  background: rgba(0,0,0,0.4);
}

.quest_left_add {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.quest_title_desc {
    padding: 0.1em;
    width: 100px;
    overflow: hidden;
    font-size: 0.9em;
    background: none;
    text-align: center;
    -moz-transform: translate(0px,71px) rotate(-45deg); /* Для Firefox */
    -ms-transform: translate(0px,71px) rotate(-45deg); /* Для IE */
    -webkit-transform: translate(0px,71px) rotate(-45deg); /* Для Safari, Chrome, iOS */
    -o-transform: translate(0px,71px) rotate(-45deg); /* Для Opera */
    transform: translate(0px,71px) rotate(-45deg);

    -moz-transform-origin: 0 0; /* Для Firefox */
    -ms-transform-origin: 0 0; /* Для IE */
    -webkit-transform-origin: 0 0; /* Для Safari, Chrome, iOS */
    -o-transform-origin: 0 0; /* Для Opera */
    transform-origin: 0 0;
}

.quest_actor {
    background: red;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 2px black;
    z-index: 1;
}

.kvest_list li .add_shadow.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(225deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
    background: linear-gradient(225deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
}